version: "3.9"

services:
  # Backend API Service
  backend:
    build: .
    container_name: kudos_backend
    restart: unless-stopped
    ports:
      - "8005:8005"
    env_file:
      - .env
    volumes:
      - ./data:/app/data
      - ./config.json:/app/config.json
      - ./config_generated.json:/app/config_generated.json

  # Frontend UI Service
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
      args:
        - VITE_API_URL=${VITE_API_URL}
    container_name: kudos_frontend
    restart: unless-stopped
    ports:
      - "9005:80"
    depends_on:
      - backend

volumes:
  kudos_db:
