version: "3.9"

services:
  kudos:
    build: .
    container_name: kudos_app
    restart: unless-stopped

    ports:
      - "9001:9000"

    environment:
      STREAMLIT_SERVER_HEADLESS: "true"
      SEND_EMAILS: "true"

      # --- EMAIL CONFIG ---
      SMTP_HOST: "mail.cargotrack.ro"
      SMTP_PORT: "587"
      SMTP_EMAIL: "kudos@cargotrack.ro"
      SMTP_PASSWORD: "Qm8z*9-MK!cra{k~@]q6UD[wu$$xX7!8EBZH@UxuC_"
      FROM_EMAIL: "kudos@cargotrack.ro"

      # --- APP BASE URL ---
      APP_BASE_URL: "http://192.168.88.175:9001"

    volumes:
      - kudos_db:/app/data

  kudos_api:
    build: .
    container_name: kudos_api_service
    command: uvicorn api:app --host 0.0.0.0 --port 8001
    restart: unless-stopped
    ports:
      - "8001:8001"
    environment:
      APP_BASE_URL: "http://192.168.88.175:9001"
    volumes:
      - kudos_db:/app/data

volumes:
  kudos_db:
